@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme(colorsRGBValues.white);
    --foreground: theme(colorsRGBValues.zinc.950);

    --card: theme(colorsRGBValues.white);
    --card-foreground: theme(colorsRGBValues.zinc.950);

    --popover: theme(colorsRGBValues.white);
    --popover-foreground: theme(colorsRGBValues.zinc.950);

    --primary: theme(colorsRGBValues.orange.400);
    --primary-foreground: theme(colorsRGBValues.zinc.50);
    /* --primary: theme(colorsRGBValues.zinc.900);
    --primary-foreground: theme(colorsRGBValues.zinc.50); */

    --secondary: theme(colorsRGBValues.zinc.100);
    --secondary-foreground: theme(colorsRGBValues.zinc.900);

    --muted: theme(colorsRGBValues.zinc.100);
    --muted-foreground: theme(colorsRGBValues.zinc.500);

    --accent: theme(colorsRGBValues.zinc.100);
    --accent-foreground: theme(colorsRGBValues.zinc.900);

    --destructive: theme(colorsRGBValues.red.500);
    --destructive-foreground: theme(colorsRGBValues.zinc.50);

    --border: theme(colorsRGBValues.zinc.200);
    --input: theme(colorsRGBValues.zinc.200);
    --ring: theme(colorsRGBValues.zinc.950);

    --radius: 1rem;
  }

  [data-theme='dark'] {
    --background: theme(colorsRGBValues.zinc.950);
    --foreground: theme(colorsRGBValues.zinc.50);

    --card: theme(colorsRGBValues.zinc.950);
    --card-foreground: theme(colorsRGBValues.zinc.50);

    --popover: theme(colorsRGBValues.zinc.950);
    --popover-foreground: theme(colorsRGBValues.zinc.50);

    /* --primary: theme(colorsRGBValues.zinc.50); 
    --primary-foreground: theme(colorsRGBValues.zinc.900);*/
    --primary: theme(colorsRGBValues.orange.500);
    --primary-foreground: theme(colorsRGBValues.zinc.50);

    --secondary: theme(colorsRGBValues.zinc.800);
    --secondary-foreground: theme(colorsRGBValues.zinc.100);

    --muted: theme(colorsRGBValues.zinc.800);
    --muted-foreground: theme(colorsRGBValues.zinc.400);

    --accent: theme(colorsRGBValues.zinc.800);
    --accent-foreground: theme(colorsRGBValues.zinc.50);

    --destructive: theme(colorsRGBValues.red.900);
    --destructive-foreground: theme(colorsRGBValues.zinc.50);

    --border: theme(colorsRGBValues.zinc.800);
    --input: theme(colorsRGBValues.zinc.800);
    --ring: theme(colorsRGBValues.zinc.300);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen overflow-hidden bg-background bg-noise-texture font-sans text-base text-foreground antialiased;
  }

  p {
    @apply font-light leading-relaxed text-secondary-foreground;
  }

  #root {
    @apply h-screen scroll-pt-8 overflow-x-hidden overflow-y-scroll;
  }
}

@layer components {
  .pattern-circle--before {
    @apply before:absolute before:content-[url(/src/assets/pattern-circle.svg)];
  }
  .pattern-circle--after {
    @apply after:absolute after:content-[url(/src/assets/pattern-circle.svg)];
  }
  .pattern-square--before {
    @apply before:absolute before:content-[url(/src/assets/pattern-square.svg)];
  }
  .pattern-square--after {
    @apply after:absolute after:content-[url(/src/assets/pattern-square.svg)];
  }
}
