@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 9 9 11;

    --card: 255 255 255;
    --card-foreground: 9 9 11;

    --popover: 255 255 255;
    --popover-foreground: 9 9 11;

    --primary: 251 146 60;
    --primary-foreground: 250 250 250;
    /* --primary: 24 24 27;
    --primary-foreground: 250 250 250; */

    --secondary: 244 244 245;
    --secondary-foreground: 24 24 27;

    --muted: 244 244 245;
    --muted-foreground: 113 113 122;

    --accent: 244 244 245;
    --accent-foreground: 24 24 27;

    --destructive: 239 68 68;
    --destructive-foreground: 250 250 250;

    --border: 228 228 231;
    --input: 228 228 231;
    --ring: 9 9 11;

    --radius: 1rem;
  }

  html[data-theme='dark'] {
    --background: 9 9 11;
    --foreground: 250 250 250;

    --card: 9 9 11;
    --card-foreground: 250 250 250;

    --popover: 9 9 11;
    --popover-foreground: 250 250 250;

    /* --primary: 250 250 250; 
    --primary-foreground: 24 24 27;*/
    --primary: 249 115 22;
    --primary-foreground: 250 250 250;

    --secondary: 39 39 42;
    --secondary-foreground: 244 244 245;

    --muted: 39 39 42;
    --muted-foreground: 161 161 170;

    --accent: 39 39 42;
    --accent-foreground: 250 250 250;

    --destructive: 185 28 28;
    --destructive-foreground: 250 250 250;

    --border: 39 39 42;
    --input: 39 39 42;
    --ring: 212 212 216;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen overflow-x-hidden bg-background bg-noise-texture font-sans text-base text-foreground antialiased selection:bg-border selection:text-accent-foreground;
  }

  p {
    @apply font-light leading-relaxed text-secondary-foreground;
  }

  #root {
    scrollbar-gutter: stable;

    @apply h-screen scroll-pt-20 overflow-x-hidden overflow-y-scroll md:scroll-pt-8;
  }
}

@layer components {
  .heading-1 {
    @apply text-6xl font-bold leading-tight text-foreground;
  }
}
